@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ground: rgb(181, 183, 181);
  --done: rgb(234, 240, 234);
  --border: black;
}


body {
  font-family: 'Figtree', sans-serif;
}

.todo-container {
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 40%;
  background: var(--ground);
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 1px 50px 100px -20px, rgba(0, 0, 0, 0.3) 1px 30px 60px -30px, rgba(10, 37, 64, 0.35) 1px -2px 6px 1px inset;
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.heading .fa-arrows-rotate {
  font-size: 20px;
  margin-right: 10px;
}

ul li p {
  position: absolute;
  font-size: 22px;
  margin-left: 40px;
  width: 100%;
}

.heading p {
  font-size: 25px;
}

.enter-text {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.enter-text button {
  width: 45px;
  height: 45px;
  border: none;
  background-color: var(--ground);
}

.enter-text .fa-circle-arrow-left {
  font-size: 40px;
}

.enter-text .fa-circle-arrow-left:hover {
  cursor: pointer;
}

ul {
  width: 100%;
  margin: 0 auto;
}

ul .clear {
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  font-size: 18px;
}

.fa-circle-xmark {
  font-size: 30px;
  position: absolute;
  right: 40px;
}

.fa-circle-xmark:hover {
  cursor: pointer;
}

ul .clear:hover {
  cursor: pointer;
}

.fa-circle-up-left {
  display: none;
}

ul .list {
  border-bottom: 1px solid var(--border);
}

ul .text {
  width: 90%;
  height: 30px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  font-style: italic;
  border: none;
}

ul li input[type=checkbox] {
  transform: scale(1.2);
}

ul .list li {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-right: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid var(--border);
  text-decoration-line: underline;
}

.list li.done {
  padding-left: 5px;
  padding-right: 5px;
  background-color: var(--done);
  text-decoration-line: line-through;
}

.fa-ellipsis-vertical:hover {
  cursor: move;
}
